{% extends 'base.html.twig' %}

{% block title %}All Posts!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>All Post</h1>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Post Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>

            {% for post in posts %}
                <tr>
                    <th>{{post.getId()}}</th>
                    <th>{{post.getPostTitle()}}</th>
                    <th>{{post.getPostContent()}}</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            {% endfor %}
        </table>
        <ul>
            <li>Your controller at <code><a href="{{ '/var/www/html/auth/src/Controller/PostController.php'|file_link(0) }}">src/Controller/PostController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/var/www/html/auth/templates/post/index.html.twig'|file_link(0) }}">templates/post/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
